In [ ]:
#Create a dictionary of student names and their ages
d = {'Hari':23, 'Vishnu':24 ,'Sumanth':23}

dict

In [6]:
#Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
v= {'a': 1, 'b': 2, 'c': 3}
v['e'] = 4
v

{'a': 1, 'b': 2, 'c': 3, 'e': 4}

In [14]:
#Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
dict = {'name': 'John', 'age': 25, 'city': 'New York'}
dict.keys()

dict_keys(['name', 'age', 'city'])

In [15]:
#Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
va ={'python': 3, 'java': 2, 'c++': 1}
va.values()

dict_values([3, 2, 1])

In [16]:
#Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
v = {'name': 'Alice', 'age': 30, 'city': 'London'}
print('age' in v)

True

In [19]:
#Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
b = {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
b.pop('temp')
b

{'a': 1, 'b': 2, 'c': 4}

In [21]:
#Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
v = {'math': 85, 'science': 92, 'english': 78}
sum = 0
for i in v.values():
    sum = sum + i
sum

255

In [22]:
# Create a dictionary with squares of numbers 1 to 5
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [24]:
#Count frequency of each character in string 'hello'
s = "hello"
freq = {}

for char in s:
    freq[char] = freq.get(char, 0) + 1

print(freq)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [26]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [18]:
person_dict = {
    'person': {
        'name': 'Alice',
        'age': 25
    }
}

print(person_dict)

{'person': {'name': 'Alice', 'age': 25}}

In [2]:
n = [1,2,2,3,3,3,4]
freq = {}
for i in n:
    freq[i] = freq.get(i,0)+1
freq

{1: 1, 2: 2, 3: 3, 4: 1}

In [6]:
s  = "data science is data driven"
words = s.split()
freqq = {}
for i in words:
    freqq[i] = freqq.get(i,0)+1
freqq

{'data': 2, 'science': 1, 'is': 1, 'driven': 1}

In [14]:
#Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
n = {'person': {'name': 'Alice', 'age': 25}}
h = n['person']['name']
h

'Alice'

In [16]:
#Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}")
#n = {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
m = {'fruits' : ['apple', 'banana'], 'colors' : ['red', 'blue']}
m

{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [21]:
#Add 'orange' to the 'fruits' list in nested dictionary
m['fruits'].append('orange')
m

{'fruits': ['apple', 'banana', 'orange', 'orange'], 'colors': ['red', 'blue']}

In [24]:
m['fruits'].pop(2)

'orange'

In [25]:
#Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
#n = {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
m = {'coordinate':(10,20), 'rgb' : (255,0,0)}
m

{'coordinate': (10, 20), 'rgb': (255, 0, 0)}

In [27]:
#Extract first coordinate from nested tuple
m['coordinate'][0]

10

In [28]:
#Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
b = {'vowels' : {'a','e',i}, 'consonants':{'b','c','d'}}
b

{'vowels': {'a', 'driven', 'e'}, 'consonants': {'b', 'c', 'd'}}

In [ ]:
#Add 'o' to vowels set in nested dictionary
b['vowels'].add('o')

In [33]:
#Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
d = {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
d

{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [34]:
#Access employee name from 3-level nested dictionary
d['company']['department']['employee']['name']

'John'

In [2]:
#Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
d = {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
d

{'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [3]:
#Check data type of each value in mixed dictionary
for i in d.values():
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>