In [2]:
# Create a list of first 10 square numbers
l = [i*i for i in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
v = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for i in v:
    if i % 2 ==0 :
        sum+= i
print(sum)

30

In [13]:
# Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
v = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
s = set(v)
s

{1, 2, 3, 4, 5, 6, 7}

In [19]:
#Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
v = [64, 34, 25, 12, 22, 11, 90]
v.sort(reverse=True)
v

[90, 64, 34, 25, 22, 12, 11]

In [21]:
#Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
v = [15, 23, 31, 42, 56, 78, 91]
sum = 0
for i in v:
    sum+=i
    avg = sum//len(v)
print(avg)

48

In [24]:
#Create a list of first 15 Fibonacci numbers
a = 0
b = 1
s=[]
for i in range(2,15):
    s.append(a)
    a , b = b,a+b
print(s)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [32]:
#Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
numbers = [45, 67, 23, 89, 12, 34, 78]
second_largest = sorted(numbers)[-2]
print(second_largest)  # Output: 78

78

In [33]:
#Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
#Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
v = [1, 5, 2, 5, 3, 5, 4, 5, 6]
v.count(5)

4

In [ ]:
#Create a list of prime numbers between 1 and 50
for i in range(1,51):
    if i % 1==0 an