In [1]:
x = 10

def change():
    global x
    x = 20

In [7]:
#Function to print your name using positional argument.
def names(name):
    print(f"my name is {name}")

In [9]:
names("hari")

my name is hari

In [10]:
#Function greeting with default country = India.
def greet(name,country='India'):
    return(f"hiii {name},welcome to {country}")

In [11]:
greet('hari')

'hiii hari,welcome to India'

In [12]:
greet("Ravi")

'hiii Ravi,welcome to India'

In [13]:
#Function accepting many numbers (*args).
def add(*numbers):
    return(sum(numbers))

In [14]:
add(1,2,3,4,5,6,7,8,9,10)

55

In [15]:
#Function printing details using **kwargs.
def data(**info):
    return(info)

In [16]:
data(name = 'hari',age = 24,stay='banglore')

{'name': 'hari', 'age': 24, 'stay': 'banglore'}

In [18]:
#Function returning double of number.
def double(n):
    return(n*2)

In [19]:
double(11)

22

In [20]:
double(1)

2

In [21]:
#Function stopping early if number negative.
def check(n):
    if n < 0:
        return
    print("its not negative")

In [22]:
check(4)

its not negative

In [23]:
check(-1)

In [27]:
def test():
    x = 14
    print("Inside:", x)

test()
print("Outside:", x)

Inside: 14
Outside: 10

In [28]:
test()

Inside: 14

In [29]:
#Create local variable inside function.
def h():
    x = 10
    print(x)

In [31]:
h()

10

In [34]:
#Print global variable inside function.
c =20
def f():
    print(c)

In [35]:
f()

20

In [36]:
#Function combining normal + default + *args.
def combine(a,b =10,*num):
    print(a,b,num)

In [37]:
combine(10,20,1,2,3,4,5)

10 20 (1, 2, 3, 4, 5)

In [38]:
combine(5, 30, 40)

5 30 (40,)

In [39]:
combine(25)

25 10 ()

In [ ]:
#Function returning sum and average.
def suav(a,b):
    return(a+b,(a+b)//2)

In [49]:
suav(2,4)

(6, 3)

In [55]:
#Function modifying global variable.
x = 1
def change():
    global x
    x = 10
change()

In [56]:
print(x)

10

In [57]:
change()

In [58]:
#Function checking even/odd using return.
def checking(a):
    if a % 2==0 :
        return('even')
    else:
        return('odd')

In [59]:
checking(8)

'even'

In [60]:
checking(7)

'odd'

In [2]:
#1 
def details(name,age=18,*marks):
    print(f"name:{name},age'={age},marks={sum(marks)}")

In [3]:
details('hari',18,45,40,35)

name:hari,age'=18,marks=120

In [4]:
"""Write a function accepting:
one positional number
any number of keyword arguments
Print number and all key-value pairs."""
def accept(name,**marks):
    return(name,marks)

In [5]:
accept('Hari',maths=48,science=45,social=50,sanskrit=30)

('Hari', {'maths': 48, 'science': 45, 'social': 50, 'sanskrit': 30})

In [10]:
def product(*num):
    pro=1
    for i in num:
        pro=pro*i
    return(pro)

In [11]:
product(1,2,3,4)

24

In [14]:
def detail(**det):
    count= 0
    for values in det:
        count += 1
    return(count)

In [15]:
detail(name='hari',stay='banglore',course='ds')

3

In [22]:
def square(n):
    return(n**2,n**3,round(n**0.5,3),)

In [23]:
square(2)

(4, 8, 1.414)

In [24]:
def check(n):
    if n >0:
        return(n*2)
    else:
        pass

In [26]:
check(-1)

In [31]:
def chec(*numbers):
    max_num =numbers[0]
    min_num =numbers[0]
    for i in numbers:
        if i > max_num:
            max_num=i
        elif i < min_num:
            min_num=i
    return(max_num,min_num)

In [32]:
chec(1,2,3,4,5,4)

(5, 1)

In [33]:
def write(*num):
    return(sum(num),(sum(num)/len(num)))

In [34]:
write(1,2,3,4)

(10, 2.5)

In [36]:
def stop(n):
    if n % 5==0:
        return
    else:
        print(f"{n} is not divisible by 5")

In [39]:
stop(5)

In [42]:
count = 0
def incre():
    global count
    count+=1
    if count%5==0:
        print(count)

In [52]:
incre()

10

In [53]:
price = 100
def val():
    price=10
    print(price)

In [54]:
val()

10

In [55]:
print(price)

100

In [ ]:
#Write a function that takes a number as input and returns whether it is even or odd.